<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Coucou</h1>
	<ul>
		<li>Nom : {{lastName}}</li>
		<li>Prénom : {{firstName}}</li>
		<li>Email : {{email}}</li>
		<li>Promo : {{year}}</li>
		<li>Pseudo : {{pseudo}}</li>
	</ul>
	{{#if isE2}}
	<h2>Je m'affiche pour les E2</h2>
	{{/if}}
	{{isE2}}
	{{#if isE1}}
	<h2>Je m'affiche pour les E1</h2>
	{{/if}}	
	{{#if isE3}}
	<h2>Je m'affiche pour les E3</h2>
	{{/if}}			
</body>
</html>